@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
 /* font-family: "Raleway", sans-serif; */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body {
  font-family: "Open Sans", sans-serif;
 }
ul {
   list-style: none;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  margin: 20px 40px;
}
.nav-bar .logo img{
  width: 130px;
}
 .nav-bar .links ul {
  display: flex;
 }
.nav-bar .links ul li {
   margin: 0 30px;
   transition: 0.4s;
   -webkit-transition: 0.4s;
   -moz-transition: 0.4s;
   -ms-transition: 0.4s;
   -o-transition: 0.4s;
   border-bottom: 4px solid transparent;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}
 .nav-bar .links ul li a {
   text-decoration: none;
   color: hsl(243, 87%, 12%);
}
.nav-bar .links ul li:hover {
   border-bottom: 4px solid hsl(243, 87%, 12%);
}